div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    display: flex;
}

.centerhead {
    justify-content: center;
    align-items: center;
}

.header_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}